# Writing Functions in Python

In [1]:
# Syntax
def function_name(paramaters):
    '''Docstring'''
    Statements

In [2]:
# Built-in Functions

In [27]:
# Len function give the count of elements
mylist = [46, 15, 39, 38, 8, 17, 31, 45, 7, 11]
len(mylist)

10

In [34]:
sum(mylist)

257

In [26]:
max(myran)

46

In [23]:
min(myran)

7

In [24]:
sorted(myran)

[7, 8, 11, 15, 17, 31, 38, 39, 45, 46]

In [25]:
sorted(myran,reverse=True)

[46, 45, 39, 38, 31, 17, 15, 11, 8, 7]

In [28]:
# abs() returns the absolute value of a numeric value (e.g. integer or float).
abs(-22.7)

22.7

In [29]:
# round() - Round a number to a given precision 
round(-22.7)

-23

In [30]:
round(22/7)

3

In [31]:
22/7

3.142857142857143

In [32]:
round(22/7,2)

3.14

In [33]:
round(22/7,3)

3.143

# User Defined Functions

In [51]:
# Defining the function
def hello(): # Header
    print('Hello World') # Body

In [52]:
# Calling the function
hello()

Hello World

In [53]:
def hello_again(): 
    print('Hello World') 
    print('Code in Python')
    print('Analyse data in Python')

In [55]:
hello_again()

Hello World
Code in Python
Analyse data in Python

In [60]:
def hello_sum(): 
    print('Hello World') 
    a = 2+7
    print(a)

In [61]:
hello_sum()

Hello World
9

In [62]:
def my_fun_square() :# Header
    value = 4**2      # body
    print(value)

In [63]:
my_fun_square()

16

In [69]:
# Functions with Parameter
def hello_para(name):
    print('Hello',name)

In [70]:
hello_para('World')

Hello World

In [71]:
hello_para('Nitin')

Hello Nitin

In [72]:
def fun_square(para) :
    value = para**2
    print(value)

In [73]:
fun_square(7)

49

In [74]:
hello_para('Nitin')

Hello Nitin

In [75]:
hello_para()

TypeError: hello_para() missing 1 required positional argument: 'name'

In [77]:
# Default Parameter
# We can give default value so that if value is not passed then function uses default parameter

In [78]:
def hello_para_def(name = 'World'):
    print('Hello', name)

In [79]:
hello_para_def('Nitin')

Hello Nitin

In [92]:
hello_para_def()

Hello World

In [87]:
# Function with Return Statement & Docstring
# With Return statement I assign the output to the variable
def fun_square(para) : # Header
    '''This function returns square of input 
       parameter or argument '''
    value = para**2   # Body
    return value

In [94]:
sqr = fun_square(7)

In [96]:
print(sqr+3)

52

In [97]:
# multiple function parameters
def raise_to_power (val1, val2) :# header
    '''raise val1 to the power of val2'''
    val = val1 ** val2
    return(val)

In [101]:
numpwr= raise_to_power(2,8)

In [102]:
numpwr

256

In [110]:
# fucntions with multiple parameters & multiple returns using tuple
def raise_to_power (val1, val2) :# header
    '''raise val1 to the power of val2'''
    value1 = val1 ** val2
    value2 = val2 ** val1
    tuple_val = (value1,value2)
    return tuple_val

In [111]:
val = raise_to_power(3,2)

In [112]:
print(val)

(9, 8)

In [113]:
type(val)

tuple

In [116]:
# fucntions with multiple parameters & multiple returns using tuple
def raise_to_power (val1, val2) :# header
    '''raise val1 to the power of val2'''
    value1 = val1 ** val2
    value2 = val2 ** val1
    value3 = value1*value2
    #tuple_val = (value1,value2)
    return value1,value2,value3

In [118]:
val = raise_to_power(3,2)

In [119]:
val

(9, 8, 72)

In [120]:
a, b,c = val

In [121]:
a

9

In [122]:
b

8

In [123]:
c

72

In [133]:
# Even-Odd checker
def even_odd(para):
    if para % 2 == 0 :
        print('Even Number')
    else:
        print('Odd Number')

In [136]:
even_odd(1)

Odd Number

In [138]:
# Create a function that checks in the list if any number is greater than 50

In [139]:
def my_check(mylist):
    for i in mylist:
        if i > 50:
            print('List has number greater than 50')
        else:
            pass

In [175]:
chklist = [1,2,44,51,444,20]

In [176]:
my_check(chklist)

List has number greater than 50
List has number greater than 50

In [144]:
my_check([1,2,300])

List has number greater than 50

In [145]:
def my_check(mylist):
    for i in mylist:
        if i > 50:
            print('List has number greater than 50')
            break
        else:
            pass

In [146]:
my_check(chklist)

List has number greater than 50

In [158]:
def my_check(mylist):
    for i in mylist:
        if i > 50:
            print('List has number greater than 50')
#            return(i)            
        else:
            pass

In [159]:
myli = my_check(chklist)

List has number greater than 50
List has number greater than 50

In [157]:
myli

51

In [160]:
def mychk(mylist):
    for i in mylist:
        print(i)

In [163]:
mychk(chklist)

1
2
44
51
444
2

In [164]:
def mychk(mylist):
    for i in mylist:
        return i

In [167]:
li = mychk(chklist)

In [168]:
li

1

In [177]:
mylist1 = []
def mychk(mylist):
    for i in mylist:
        mylist1.append(i)
    return i

In [178]:
mylist1

[]

In [179]:
abc = mychk(chklist)

In [180]:
abc

20

In [181]:
mylist1

[1, 2, 44, 51, 444, 20]

In [198]:

def mychk(mylist):
    mylist1 = []
    for i in mylist:
        if i > 50:
            mylist1.append(i)
    return mylist1

In [199]:
abc = mychk(chklist)

In [200]:
abc

[51, 444]

In [202]:
# Tuples unpacking example

In [222]:
marks = [('Ron',35),('Bob',44),('Robin',48),('Eva',50)]

In [223]:
# Write a function to find out who scored maximum marks and the maximum marks scored

In [224]:
def max_marks(marks):
    '''function to find out who scored maximum marks and the maximum marks scored'''
    maxmarks = 0
    maxname = ''
    for name, marks in marks:
        if marks > maxmarks:
            maxmarks = marks
            maxname = name
        else:
            pass
    return(maxname,maxmarks)

In [225]:
max_marks(marks)

('Eva', 50)

In [226]:
name,marks = max_marks(marks)

In [230]:
print(name)
print(marks)

Eva
50

# Scope Of Varaibles in Functions
1. Understanding Local & Global Variable
2. Local Varaible - Variable that is defined inside the function & it is not accessible out side the function

In [1]:
def fun_sqr(para):
    value = para**2
    print(value)

In [2]:
print(value)

NameError: name 'value' is not defined

In [18]:
num = 7
def func_num():
    num = 10
    return(num)

In [19]:
print(num)

7

In [20]:
func_num()

10

In [3]:
val1 = 10
val2 = 20

In [11]:
def fun_sqr_scope():
    val2 = val1**2
    #print('val2 coming from inside the function',val2)
    return(val2)

In [12]:
val3 = fun_sqr_scope()

In [13]:
val3

100

In [14]:
val1

10

In [15]:
val2

20

# LEGB  Rule (Local -> Enclosing -> Global -> Built-in)

* Scope - Part of a program where object or name of a variable is accessible

* Local - Variables created or names assigned within a function (def or lambda). 
Not declared global in that function

* Enclosing/Nested Functions - Variables created or names assigned are in local scope of enclosing function if any. Python will look for names 1st inside the functions than outside of it.

* Global - Variables created or names assigned at the top level. That is declared outside the function or declared global inside def or inside a function. Global variable can be accessed from inside and outside of the function

* Built-in - This is the widest scope that exists! All the special reserved keywords fall under this scope. We can call the keywords anywhere within our program without having to define them before use.
Keywords are simply special reserved words. They are kept for specific purposes and cannot be used for any other purpose in the program.

In [23]:
 var1 = 'I am Global. Created outside the functions'
def func_outer():
    var1 = 'I am local to outside function'
        
    def func_inner():
        var1 = 'I am local to inner function'
        print(var1)
    func_inner()

In [24]:
func_outer()

I am local to inner function

In [30]:
 var1 = 'I am Global. Created outside the functions'
def func_outer():
    var1 = 'I am local to outside function'
        
    def func_inner():
        
        print(var1)
    func_inner()

In [31]:
func_outer()

I am local to outside function

In [32]:
 var1 = 'I am Global. Created outside the functions'
def func_outer():
    
        
    def func_inner():
        
        print(var1)
    func_inner()

In [29]:
func_outer()

I am Global. Created outside the functions

In [33]:
# Never overwrite builtin functions
# Built-in names are at the highest level. We don't have to define them. 
# example - print function I can cal anywhere. Inner function or outer function or outside the function

# Global Keyword 
* We can change the value of global variable from inside the function using the Global Keyword

In [34]:
# Updating the value of global variable from inside the function

myval = 100

def func_chng_gl():
    print(myval)

In [35]:
func_chng_gl()

100

In [36]:
myval = 100

def func_chng_gl():
    myval = 'I am local'
    print(myval)

In [37]:
func_chng_gl()

I am local

In [38]:
myval

100

In [39]:
myval = 100

def func_chng_gl():
    global myval
    myval = 'I am local'
    print(myval)

In [40]:
myval

100

In [41]:
func_chng_gl()

I am local

In [42]:
myval

'I am local'

In [43]:
print(myval)

I am local

In [51]:
myval = 100
def my_sqr():
    global myval
    myval = myval**2
    return(myval)

In [52]:
myval

100

In [53]:
my_sqr()

10000

In [54]:
myval

10000

In [55]:
# I can still update the value of global variable form inside without using global keyword

In [62]:
myval = 7
def my_cube(mypara):
    myval = mypara**3
    return myval

In [63]:
myval

7

In [64]:
myval = my_cube(myval)

In [65]:
myval

343

# Nested Functions

In [66]:
# Returning functions
def raise_pow(n):
    '''return the inner function'''
    def inner(x):
        '''raise x to the power n'''
        value = x**n
        return value
    return inner(n)

In [67]:
to_power = raise_pow(10)

In [68]:
to_power

10000000000

In [69]:
raise_pow(2)

4

# Nonlocal Keyword 
* Using nonlocal keyword we can change the value of outer scoped variable.

In [70]:
def outer():
    '''print the value'''
    n = 7
    def inner():
        nonlocal n
        n = n**2
        print(n)
    inner()
    print(n)

In [71]:
outer()

49
49

In [82]:
n = 5
def outer():
    '''print the value'''
    n = 7
    def inner():
        global n
        print(n)
        n = n**2
        print(n)
    inner()
    print(n)

In [83]:
outer()

5
25
7

In [84]:
print(n)

25

In [87]:
n = 5
def outer():
    '''print the value'''
    global n
    print(n)
    n = 7
    print(n)
    def inner():
        global n
        print(n)
        n = n**2
        print(n)
    inner()
    print(n)

In [88]:
outer()

5
7
7
49
49

In [96]:
def outer():
    '''print the value'''
    n = 5
    def inner():
        nonlocal n
        n = 100
        print(n)
    inner()
    print(n)

In [97]:
outer()

100
100

In [104]:
help('nonlocal')

The "nonlocal" statement
************************

   nonlocal_stmt ::= "nonlocal" identifier ("," identifier)*

The "nonlocal" statement causes the listed identifiers to refer to
previously bound variables in the nearest enclosing scope excluding
globals. This is important because the default behavior for binding is
to search the local namespace first.  The statement allows
encapsulated code to rebind variables outside of the local scope
besides the global (module) scope.

Names listed in a "nonlocal" statement, unlike those listed in a
"global" statement, must refer to pre-existing bindings in an
enclosing scope (the scope in which a new binding should be created
cannot be determined unambiguously).

Names listed in a "nonlocal" statement must not collide with pre-
existing bindings in the local scope.

See also:

  **PEP 3104** - Access to Names in Outer Scopes
     The specification for the "nonlocal" statement.

Related help topics: global, NAMESPACES

#  \**Args & \***Kwargs

# *Args
*Args - Non-keyword argument. We can pass variable number of arguments to a function using a special symbol *
 Using the *, the variable that we associate with the * becomes an iterable. We can iterate over it, run some higher-order functions such as map and filter, etc.

In [3]:
# If we have to add two numbers
def add_num(a,b):
    return(sum((a,b)))

In [4]:
add_num(1,2)

3

In [5]:
# If we have unknow numbero of in parameters 
def add_num(*a):
    return(sum((a)))

In [6]:
add_num(1)

1

In [7]:
add_num(1,2)

3

In [8]:
add_num(1,2,3)

6

In [9]:
add_num()

0

In [12]:
def flex_args(*args):
    print(args)

In [13]:
flex_args(1,2,3)

(1, 2, 3)

In [15]:
flex_args(1,2,3,1,2,3,4,23,4,8)

(1, 2, 3, 1, 2, 3, 4, 23, 4, 8)

In [16]:
# Itrating Over the Args
def args_iter(*args):
    for i in args:
        print(i)

In [17]:
args_iter('Hello','World')

Hello
World

In [18]:
args_iter('Hello','World','Python for Data Science')

Hello
World
Python for Data Science

In [24]:
def args_exp(a,*b):
    print(a*b)

In [25]:
args_exp(1)

()

In [47]:
def args_raise(a,*b):
    for i in b:
        print(i**a)
    return(i**a)

In [57]:
args_raise(2,3,4,5,6,9)

9
16
25
36
81

81

In [42]:
def args_raise(a,*b):
    for i in b:
        print(i)

In [43]:
args_raise(2,(3,4,5,6,9))

(3, 4, 5, 6, 9)

In [44]:
args_raise(2,3,4,5,6,9)

3
4
5
6
9

In [45]:
def args_raise(a,*b):
    for i in b:
        print(i**a)

In [46]:
args_raise(2,3,4,5,6,9)

9
16
25
36
81

In [55]:
def args_raise(a,*b):
    for i in b:
        print(i**a)
    return(i**a)

In [56]:
args_raise(2,3,4,5,6,9)

9
16
25
36
81

81

# **Kwargs
**Kwargs - Keyword argument
1. We can pass variable number of Keyword arguments to a function using a special symbol **
2. In the function, we use the double asterisk ** before the parameter name to denote this type of argument
3. The arguments are passed as a dictionary and these arguments make a dictionary inside function with name same as the parameter excluding double asterisk **.

In [58]:
def mykwargs(**shop):
    print(shop)

In [62]:
mykwargs(HeadPhones=10000)

{'HeadPhones': 10000}

In [63]:
mykwargs(headphone = 10000,MobilePhone = '2000')

{'headphone': 10000, 'MobilePhone': '2000'}

In [64]:
def mykwargs(**shop):
    for i,j in shop.items():
        print(i)

In [65]:
mykwargs(headphone = 10000,MobilePhone = '2000')

headphone
MobilePhone

In [66]:
def mykwargs(**shop):
    for i in shop.items():
        print(i)

In [67]:
mykwargs(headphone = 10000,MobilePhone = '2000')

('headphone', 10000)
('MobilePhone', '2000')

In [77]:
# Having Ags & Kwargs both together
def flex_args(*a,**b):
    print(a,b)

In [78]:
flex_args(10,eggs = 'Brown')

(10,) {'eggs': 'Brown'}

In [87]:
def flex_args(*a,**b):
    print(a[0],b['eggs'])

In [88]:
flex_args(10,eggs = 'Brown')

10 Brown

In [89]:
def flex_args(*a,**b):
    print(a[0],b[0])

In [92]:
def concat(**kwargs):
    result = ""
    for arg in kwargs.values():
        result += arg
    return result

print(concat(a="Now", b="I", c='Understanf', d="Kwargs", e="!"))

NowIUnderstanfKwargs!

In [93]:
mylist = [1,2,3,4]

In [95]:
print(*mylist)

1 2 3 4

In [105]:
def mylistfun(a,b):
    return(a+b)

In [106]:
mylistfun(*[1,2])

3

In [107]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [116]:
def len_flex(*a,b,c):
    return(len((a)),len((b)),len((c)))

In [119]:
len_flex(40,10,20)

TypeError: len_flex() missing 2 required keyword-only arguments: 'b' and 'c'

In [126]:
def len_flex(b,c,*a):
    return(len((a)),type((b)),type((c)))

In [127]:
len_flex(40,10,20,60)

(2, int, int)

In [128]:
def len_flex(b,c,*a):
    return(len((a)),len((b)),type((c)))

In [129]:
len_flex([1,2,3],'hello',100,200)

(2, 3, str)

In [133]:
def even_list(*num):
    mylist = []
    for i in num:
        if i%2 ==0:
            mylist.append(i)
    return(mylist)

In [134]:
even_list(1,2,3,4,5,6)

[2, 4, 6]

In [140]:
even_list(10,1,2,1,3,1,1,110)

[10, 2, 110]

In [143]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [144]:
even_list(*[1,2,3,4,5])

[2, 4]

In [146]:
even_list(*list(range(10,30)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [226]:
def mystring_fun(mystr):
    sstr =''
    for i in range(len(mystr)):
        
        if i%2 ==0:
        
            sstr = sstr+mystr[i].upper()
            
        else:
            
            sstr = sstr+mystr[i].lower()
    return(sstr)

In [227]:
mystring_fun('hello wolrd')

'HeLlO WoLrD'

In [229]:
mystring_fun('hello')

'HeLlO'

In [230]:

def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [231]:
print_big('b')

****
*   *
****
*   *
****

# Map() Function
map(function, sequence)  - function returns a map object(which is an iterator) of the results after  applying the 
given function to each item of a given iterable (list, tuple etc.)

In [232]:
def mycube(num):
    return num**3

In [233]:
mylist = [2,3,5,7,11]

In [234]:
map(mycube,mylist)

In [235]:
for i in map(mycube,mylist):
    print(i)

8
27
125
343
1331

In [236]:
list(map(mycube,mylist))

[8, 27, 125, 343, 1331]

In [237]:
def mystring_fun(mystr):
    sstr =''
    for i in range(len(mystr)):
        
        if i%2 ==0:
        
            sstr = sstr+mystr[i].upper()
            
        else:
            
            sstr = sstr+mystr[i].lower()
    return(sstr)

In [238]:
compnames = ['Apple','Microsoft','Paypal','Google']

In [239]:
list(map(mystring_fun,compnames))

['ApPlE', 'MiCrOsOfT', 'PaYpAl', 'GoOgLe']

In [240]:
mystrnum = ['1','2','3','4','5']

In [241]:
list(map(int,mystrnum))

[1, 2, 3, 4, 5]

In [242]:
list(map(len,compnames))

[5, 9, 6, 6]

# Multiple input iterable

In [243]:
list1 = [100,200,300,400,500]
list2 = [.5,.5,.7,.7,1.5]

In [246]:
def mult(x,y):
    return(x*y)

In [247]:
list(map(mult,list1,list2))

[50.0, 100.0, 210.0, 280.0, 750.0]

In [250]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,-1]

In [251]:
list(map(pow,list1,list2))

[1, 4, 27, 0.25]

In [ ]:
compnames = ['Apple','Microsoft','Paypal','Google']

In [252]:
list(map(str.upper, compnames))

['APPLE', 'MICROSOFT', 'PAYPAL', 'GOOGLE']

In [253]:
def sqr_cub(num):
    return num**2,num**3

In [254]:
mylist1 = [1,2,3,4]

In [255]:
list(map(sqr_cub,mylist1))

[(1, 1), (4, 8), (9, 27), (16, 64)]

In [256]:
def power_to(x,y,z):
    return((x**y)+z)

In [257]:
list(map(power_to,[1,2,3,4],[2,2,1,1],[1,1,1]))

[2, 5, 4]

# Filter Function
filter - Method constructs an iterator from elements of an iterable for which a function returns true 
or in more simpler terms, filters the given sequence with the help of a function that tests each 
element in the sequence to be true or not.<br>
filter(function, sequence) - filter out elements from a list that don’t satisfy certain criteria.

In [258]:
def check_even(num):
    return(num%2 == 0)

In [259]:
mylist = [1,2,3,4,5,6,7]

In [260]:
list(map(check_even,mylist))

[False, True, False, True, False, True, False]

In [261]:
list(filter(check_even,mylist))

[2, 4, 6]

In [268]:
# Wnat to get only strings
def filter_str(num):
    return(type(num) == str)

In [265]:
mylist = [1,2,'2',2, ' ' ,4,'',9,2.2,'hello']

In [269]:
list(filter(filter_str,mylist))

['2', ' ', '', 'hello']

In [276]:
# Wnat to get only int & float
def filter_int(num):
    return(type(num) in [int, float])

In [277]:
list(filter(filter_int,mylist))

[1, 2, 2, 4, 9, 2.2]

In [286]:
# print only consonants not vowals
learn_py = 'Python2Analyse Data'

In [289]:
def my_conso(mystr):
    for i in mystr:
        if i.lower() in ('aeiou'):
            return(False)
        else:
            return(True)

In [290]:
list(filter(my_conso,learn_py))

['P', 'y', 't', 'h', 'n', '2', 'n', 'l', 'y', 's', ' ', 'D', 't']

In [291]:
def my_conso(mystr):
    for i in mystr:
        if i in ('aeiou'):
            return(False)
        else:
            return(True)

In [292]:
list(filter(my_conso,learn_py))

['P', 'y', 't', 'h', 'n', '2', 'A', 'n', 'l', 'y', 's', ' ', 'D', 't']

# Lambda Function
1. The lambda keyword is used to define an anonymous function or function without a name in Python
2. Functions are created on the fly or when required
3. Lambda functions are quick to create and should be used only when really necessary
4. This function can have any number of arguments but only one expression, which is evaluated and returned.

## lambda arguments: expression

In [294]:
def double(num):
    return(2*num)

In [295]:
double(10)

20

In [296]:
double_la = lambda num: 2*num

In [297]:
double_la(20)

40

In [312]:
(lambda num:2*num)(20)

40

In [298]:
power = lambda x,y :x**y

In [299]:
power(2,3)

8

In [308]:
(lambda x,y:x**y)(2,3)

8

In [313]:
(lambda x, y: x + y)(2, 3)

5

In [300]:
# Filtering even numbers using labmda function
even_filter = lambda num : num%2 ==0

In [301]:
mylist = [1,2,3,4,5,6,7,8,9]

In [302]:
list(filter(even_filter,mylist))

[2, 4, 6, 8]

In [305]:
list(filter((lambda num:num%2==0),mylist))

[2, 4, 6, 8]

In [306]:
list(map((lambda x : x**2),mylist))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [314]:
(lambda x, y, z: x + y + z)(1, 2, 3)

6

In [315]:
 (lambda *args: sum(args))(1,2,3)

6

In [316]:
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

In [319]:
# Python 3 code to people above 18 yrs 
ages = [13, 90, 17, 59, 21, 60, 5] 
  
adults = list(filter(lambda age: age>18, ages))

In [320]:
adults

[90, 59, 21, 60]

In [321]:
animals = ['dog', 'cat', 'parrot', 'rabbit']

In [322]:
list(map(lambda animal: str.upper(animal), animals))

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [323]:
list(map(lambda animal: animal.upper(), animals))

['DOG', 'CAT', 'PARROT', 'RABBIT']

# Reduce Function
reduce(function, sequence) - function is used to apply a particular function passed in its argument to all of 
the list elements mentioned in the sequence passed along. This performs a repetitive operation over the pairs 
of the iterable. Manipulates the sequence and outputs single value element.

In [325]:
from functools import reduce

In [326]:
li = [5, 8, 10, 20, 50, 100] 
reduce((lambda x, y: x + y), li)

193