# Lists
1. Ordered collection of objects
2. Can have any types mixed data types or objects types
3. Are mutable
4. Lists can have sub-lists

In [1]:
prime1 = [2,3,5,7]
prime2 = [11,13,17]
prime3 = [19,23]

In [10]:
# Add lists prime1, prime2, prime3

In [23]:
# print prime numbers 3,11,19

In [38]:
prime = prime1 +prime2 + prime3

In [39]:
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [43]:
prime[3]

7

In [46]:
prime[1::3]

[3, 11, 19]

In [35]:
print(my_line_str)

This is line number 1.
This is line number 2.
This is line number 3.
This is line number 4

In [47]:
my_list = [1,2,3,4]

In [48]:
del my_list[1]

In [49]:
my_list

[1, 3, 4]

In [50]:
my_str = 'abc'

In [51]:
my_str.upper()

'ABC'

In [52]:
my_list.pop()

4

In [53]:
my_list

[1, 3]

In [54]:
my_list = [1,2,3,4]

In [56]:
my_list[2]=100

In [57]:
my_list

[1, 2, 100, 4]

In [58]:
my_list = [1,2,3,4]

In [60]:
my_list[1]=20

In [61]:
my_list

[1, 20, 3, 4]

In [62]:
my_list

[1, 20, 3, 4]

In [63]:
my_var = my_list.pop()

In [64]:
my_var

4

In [65]:
my_list

[1, 20, 3]

In [66]:
list_x = [1,2,3,4,5,6,7]

In [67]:
list_y = list_x

In [68]:
list_y

[1, 2, 3, 4, 5, 6, 7]

In [69]:
list_x

[1, 2, 3, 4, 5, 6, 7]

In [70]:
list_y[2]=100

In [71]:
list_y

[1, 2, 100, 4, 5, 6, 7]

In [72]:
list_x

[1, 2, 100, 4, 5, 6, 7]

In [73]:
list_a = [1,2,3,4,5,6,7]

In [74]:
list_b = list_a.copy()

In [75]:
list_b

[1, 2, 3, 4, 5, 6, 7]

In [76]:
list_b[2]=100

In [77]:
list_b

[1, 2, 100, 4, 5, 6, 7]

In [78]:
list_a

[1, 2, 3, 4, 5, 6, 7]

# Dictionaries - 
1. Are the Key-Value pairs inside the curly brackets
2. Keys of a dictionary are immutable and can’t be changed
3. Values of a dictionary are mutable and can be updated
4. Unordered & Can’t be sorted
5. Access values using the name of the keys

In [80]:
country_code = {
    'India':'+91',
    'US':'+001',
    'UK':'+44'
}

In [82]:
ece = {
    'sony_head':1000,
    'bose_head':2000
}

In [83]:
ece.keys()

dict_keys(['sony_head', 'bose_head'])

In [84]:
ece.values()

dict_values([1000, 2000])

In [85]:
ece['sony_head']

1000

In [86]:
country_code['UK']

'+44'

In [87]:
marks_ds = {
    'mike':{'Python':40,'Stats':35,'ML':[44,40,35]},
    'ron':{'Python':30,'Stats':25,'ML':[14,40,5]}
}

In [88]:
marks_ds

{'mike': {'Python': 40, 'Stats': 35, 'ML': [44, 40, 35]},
 'ron': {'Python': 30, 'Stats': 25, 'ML': [14, 40, 5]}}

In [89]:
type(marks_ds)

dict

In [90]:
marks_ds.keys()

dict_keys(['mike', 'ron'])

In [91]:
marks_ds.values()

dict_values([{'Python': 40, 'Stats': 35, 'ML': [44, 40, 35]}, {'Python': 30, 'Stats': 25, 'ML': [14, 40, 5]}])

In [92]:
marks_ds['mike']

{'Python': 40, 'Stats': 35, 'ML': [44, 40, 35]}

In [93]:
marks_ds['mike']['Stats']

35

In [96]:
marks_ds['ron']['ML'][1]

40