 If the number is greater than 10 and less than 100 - print (Number is between 10 and 100)<br>
else if number is less than 10 - print (number is less than 10)<br>
else print (number is more than 100)

In [9]:
import random

In [41]:
num = random.randint(0,200)

In [52]:
num = int(input('Enter Number'))

Enter Number101

In [53]:
print(num)

101

In [54]:
type(num)

int

In [55]:
if num > 10 and num <100:
    print('Number is between 10 & 100')
elif num < 10:
    print('Number is less than 10')
else:
    print('Number is more than 100')

Number is more than 100

In [82]:
mynum = input('please enter num')

please enter num1000

In [85]:
type(mynum)

str

In [86]:
mynewnum = int(mynum)

In [87]:
type(mynewnum)

int

# Loops in Python

While Loop - Iterate over the object till the 
condition is true<br><br><br>
While condition* :  <br>

      Expression

In [89]:
num = 10
while num <=25:
    print(num)
    num = num +3
# print('loop ends')

10
13
16
19
22
25

# For Loop<br>
my_iterable = [1,2,3]<br>
for item_name in my_iterable:<br>
      print (item_name)

In [60]:
prime_list = [2,3,5,7,11]

In [93]:
for i in prime_list:
    print(1)

1
1
1
1
1

In [94]:
sal = [100,200,500,1]

In [95]:
for mysal in sal:
    print('hi')

hi
hi
hi
hi

In [64]:
for mysal in sal:
    print(mysal)
    print('hi')

100
hi
200
hi
500
hi

In [65]:
sal = [200,300,35000,100,500,5000,2000,6200,7000,1000000,8500]

In [66]:
# print all the numbers of the list sal
# for those values where sal > 7000 
# print 'your salary is greater than 7000'

In [74]:
for salary in sal:
    if salary >7000:
        print(f'Your Salary is {salary}')
    else:
        print(f'{salary} Salary is less than 7000')

200 Salary is less than 7000
300 Salary is less than 7000
Your Salary is 35000
100 Salary is less than 7000
500 Salary is less than 7000
5000 Salary is less than 7000
2000 Salary is less than 7000
6200 Salary is less than 7000
7000 Salary is less than 7000
Your Salary is 1000000
Your Salary is 8500

In [75]:
for salary in sal:
    if salary >7000:
        print('YOur Salary is ',salary)
    else:
        print(salary, ' Salary is less than 700')

200  Salary is less than 700
300  Salary is less than 700
YOur Salary is  35000
100  Salary is less than 700
500  Salary is less than 700
5000  Salary is less than 700
2000  Salary is less than 700
6200  Salary is less than 700
7000  Salary is less than 700
YOur Salary is  1000000
YOur Salary is  8500

In [76]:
abc = {1,2,3,4,4,4,4,5,1,5}

In [77]:
type(abc)

set

In [78]:
for i in abc:
    print(i)

1
2
3
4
5

In [79]:
mylist = [1,2,3,4,4,4,5,1,5]

In [80]:
for i  in mylist:
    print(i)

1
2
3
4
4
4
5
1
5

In [81]:
mystr = 'aeiou'
for i in mystr:
    print(i)

a
e
i
o
u

In [96]:
5*10*15*20*25

375000