 If the number is greater than 10 and less than 100 - print (Number is between 10 and 100)<br>
else if number is less than 10 - print (number is less than 10)<br>
else print (number is more than 100)

In [9]:
import random

In [41]:
num = random.randint(0,200)

In [52]:
num = int(input('Enter Number'))

Enter Number101

In [53]:
print(num)

101

In [54]:
type(num)

int

In [55]:
if num > 10 and num <100:
    print('Number is between 10 & 100')
elif num < 10:
    print('Number is less than 10')
else:
    print('Number is more than 100')

Number is more than 100

In [82]:
mynum = input('please enter num')

please enter num1000

In [85]:
type(mynum)

str

In [86]:
mynewnum = int(mynum)

In [87]:
type(mynewnum)

int

# Loops in Python

While Loop - Iterate over the object till the 
condition is true<br><br><br>
While condition* :  <br>

      Expression

In [89]:
num = 10
while num <=25:
    print(num)
    num = num +3
# print('loop ends')

10
13
16
19
22
25

# For Loop<br>
my_iterable = [1,2,3]<br>
for item_name in my_iterable:<br>
      print (item_name)

In [60]:
prime_list = [2,3,5,7,11]

In [93]:
for i in prime_list:
    print(1)

1
1
1
1
1

In [94]:
sal = [100,200,500,1]

In [95]:
for mysal in sal:
    print('hi')

hi
hi
hi
hi

In [64]:
for mysal in sal:
    print(mysal)
    print('hi')

100
hi
200
hi
500
hi

In [65]:
sal = [200,300,35000,100,500,5000,2000,6200,7000,1000000,8500]

In [66]:
# print all the numbers of the list sal
# for those values where sal > 7000 
# print 'your salary is greater than 7000'

In [74]:
for salary in sal:
    if salary >7000:
        print(f'Your Salary is {salary}')
    else:
        print(f'{salary} Salary is less than 7000')

200 Salary is less than 7000
300 Salary is less than 7000
Your Salary is 35000
100 Salary is less than 7000
500 Salary is less than 7000
5000 Salary is less than 7000
2000 Salary is less than 7000
6200 Salary is less than 7000
7000 Salary is less than 7000
Your Salary is 1000000
Your Salary is 8500

In [75]:
for salary in sal:
    if salary >7000:
        print('YOur Salary is ',salary)
    else:
        print(salary, ' Salary is less than 700')

200  Salary is less than 700
300  Salary is less than 700
YOur Salary is  35000
100  Salary is less than 700
500  Salary is less than 700
5000  Salary is less than 700
2000  Salary is less than 700
6200  Salary is less than 700
7000  Salary is less than 700
YOur Salary is  1000000
YOur Salary is  8500

In [76]:
abc = {1,2,3,4,4,4,4,5,1,5}

In [77]:
type(abc)

set

In [78]:
for i in abc:
    print(i)

1
2
3
4
5

In [79]:
mylist = [1,2,3,4,4,4,5,1,5]

In [80]:
for i  in mylist:
    print(i)

1
2
3
4
4
4
5
1
5

In [81]:
mystr = 'aeiou'
for i in mystr:
    print(i)

a
e
i
o
u

# Pass, Continue & Break inside the loop

In [1]:
mylist = [1,2,3,4]

In [3]:
for i in mylist:
    pass

In [4]:
for i in mylist:
    pass
else:
    print('hi')

hi

In [6]:
for i in 'hello':
    if i =='l':
        pass
    else:
        print(i)

h
e
o

# Continue
1. The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.
2. The break statement can be used in both while and for loops.

In [7]:
for i in 'hello':
    if i =='l':
        continue
        print(i)

In [9]:
for i in 'hello':
    if i =='l':
        continue
        print(i)
    print(i)

h
e
o

In [13]:
mystr = 'hello how are you'

In [14]:
# print only consonants not vowels
# While
i = 0
while i <len(mystr):
    if mystr[i] in ('aeiou'):
        i = i + 1
        continue
    print(mystr[i])
    i = i + 1

h
l
l

h
w

r

y

# Break Statement
1. Comes out of the current loop. 
2. The break statement in Python terminates the current loop and resumes execution at the next statement.
3. If the break statement is inside a nested loop (loop inside another loop), the break statement will terminate the innermost loop.
4. The most common use for break is when some external condition is triggered requiring a hasty exit from a loop. 
5. The break statement can be used in both while and for loops.

In [16]:
i = 0
while i <len(mystr):
    if mystr[i] in ('aeiou'):
        i = i + 1
        break
    print(mystr[i])
    i = i + 1

h

In [17]:
mystr

'hello how are you'

In [18]:
len(mystr)

17

In [19]:
mystr[0]

'h'

In [20]:
mystr[1]

'e'

In [21]:
mynums = [1,12,1,'h',4,44,71,'j',1,2,3]

In [23]:
for i in mynums:
    if type(i)==str:
        break
    print(i)

1
12
1

In [24]:
type(1)

int

In [25]:
type('h')

str

In [26]:
mylist = [10,100,2000,30,35,590,1000,889]

In [27]:
#create a list that has numbers that are less than 500
#mylist123.append(i)
# break or pass or continue
# [10,100,30,35]

In [30]:
mylist = [1,2,3,4]

In [31]:
mylist.append(100)

In [32]:
mylist

[1, 2, 3, 4, 100]

In [33]:
fruits = ['mango','banana']

In [34]:
fruits.append('grapes')

In [35]:
fruits

['mango', 'banana', 'grapes']

In [36]:
emptlsit = []

In [37]:
emptlsit.append(1)

In [40]:
emptlsit

[1]

In [41]:
mylist = [10,100,2000,30,35,590,1000,889]

In [44]:
mynum = []
for i in mylist:
    if i > 500:
        continue
    mynum.append(i)

In [45]:
mynum

[10, 100, 30, 35]

# RangeRange - range(start, stop, stepsize)  
1. Default start is 0, default step use is 1 
2. Range is an inbuilt function.
3. Returns list or sequence of numbers
4. Commonly used with loops

In [47]:
range(7)

range(0, 7)

In [48]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [49]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [50]:
list(range(2,15))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [51]:
list(range(2,15,2))

[2, 4, 6, 8, 10, 12, 14]

In [52]:
list(range(2,15,3))

[2, 5, 8, 11, 14]

In [53]:
mylist = [1,2,3,4]

In [56]:
for i in range(len(mylist)):
    print(i)

0
1
2
3

In [54]:
len(mylist)

4

In [55]:
for i in range(4):
    print(i)

0
1
2
3

# Enumerate Function
* We can print value & index using enumerate function

In [58]:
primelist = [2,3,5,7,11]

In [60]:
for i in enumerate(primelist):
    print(i)

(0, 2)
(1, 3)
(2, 5)
(3, 7)
(4, 11)

In [64]:
for i,j in enumerate(primelist):
    print('At index number',i, 'we have',j)

At index number 0 we have 2
At index number 1 we have 3
At index number 2 we have 5
At index number 3 we have 7
At index number 4 we have 11

# The zip() 
* function creates an iterator that will zip elements from two or more iterables

In [75]:
mylist1 = [1,2,3,4,5]
mystr = ['a','e','i','o','u']
myspcl = ['!','@','#']

In [78]:
zip(mylist1,mystr,myspcl)

In [80]:
 list(zip(mylist1,mystr,myspcl))

[(1, 'a', '!'), (2, 'e', '@'), (3, 'i', '#')]

# Item()
* Function will print out key & values of a dictionary or data frame

In [81]:
marks ={
    'name':['Ron','Bill','Nancy'],
    'marks':[22,11,33]
}

In [82]:
for  i in marks.items():
    print(i)

('name', ['Ron', 'Bill', 'Nancy'])
('marks', [22, 11, 33])

In [84]:
for i,j in marks.items():
    print(i,'-- ',j)

name --  ['Ron', 'Bill', 'Nancy']
marks --  [22, 11, 33]

In [1]:
import random

In [2]:
mylist = []
for i in range(10):
    mylist.append(random.randint(0,100))

In [3]:
mylist

[72, 95, 49, 82, 32, 58, 63, 35, 99, 62]

In [4]:
newlist = []
for i in mylist:
    if i < 50:
        newlist.append(i)
    else:
        pass

In [5]:

newlist

[49, 32, 35]

# List comprehension 
1. List comprehension is an elegant way to define and create list in Python
2. It is a good substitute for a For Loop to build lists in a single line
3. List comprehensions are much faster than For Loop and map functions
4. List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce()
5. Components of a list comprehensions are Iterable, iterator variable, condition & output expression
6. mylist = [expression for member in iterable]
7. newlist = [expression for member in iterable (if conditional)]

In [2]:
mystr = 'Hello World'

In [3]:
mystrlist = []
for i in mystr:
    mystrlist.append(i)

In [4]:
mystrlist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [5]:
mycomplist = [i for  i in mystr ]

In [6]:
mycomplist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [15]:
for  i in mystr:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [8]:
mystrlist = []

In [9]:
mystrlist

[]

In [10]:
mylist = [1,2,3]

In [11]:
mylist.append(100)

In [12]:
mylist

[1, 2, 3, 100]

In [16]:
myprime = [2,3,5,7,11]

In [17]:
mysqlist = []
for i in myprime:
    mysqlist.append(i*i)

In [18]:
mysqlist

[4, 9, 25, 49, 121]

In [20]:
mylistcomp = [i*i for i in myprime]

In [21]:
mylistcomp

[4, 9, 25, 49, 121]

In [22]:
mylist = 'hello world'

In [23]:
mystr

'Hello World'

In [40]:
mystrcomp = [ashish for ashish in mystr if ashish not in 'aeiou']

In [41]:
ashish

NameError: name 'ashish' is not defined

In [42]:
mystrcomp

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
obj = ['Even' if i%2==0 else 'Oddd' for i in range(10)]

In [48]:
obj

['Even',
 'Oddd',
 'Even',
 'Oddd',
 'Even',
 'Oddd',
 'Even',
 'Oddd',
 'Even',
 'Oddd']

In [49]:
list1 = [1,2,3]
list2 = [2,3,5]

In [50]:
mylist =[]
for i in list1:
    for j in list2:
        mylist.append(i*j)

In [51]:
mylist

[2, 3, 5, 4, 6, 10, 6, 9, 15]

In [52]:
mystr = 'hello world'

In [53]:
mystr.capitalize()

'Hello world'

In [58]:
mystr

'hello world'

In [54]:
mylist = [1,2,3,4]

In [55]:
mylist.clear()

In [57]:
mylist

[]

In [59]:
mystr = 'hello world'

In [61]:
for i in mystr:
    print(i, end='')

hello world

In [82]:
list1 = [1,1,1,1]
list2 = [2,2,2,2]
list3 = [3,3,3,3]

In [89]:
for i in list1:
    for j in list2:
        for k in list3:
            print(k,end ='')
        print('\n')
            
        print(j)
        
    print(i)
    print('\n')

3333

2
3333

2
3333

2
3333

2
1


3333

2
3333

2
3333

2
3333

2
1


3333

2
3333

2
3333

2
3333

2
1


3333

2
3333

2
3333

2
3333

2
1