# Data Analysis using Pandas

# Series

In [5]:
import numpy as np
import pandas as pd

In [6]:
mydata = [10,20,30,40,50]

In [7]:
mylabels = ['L1','L2','L3','L4','L5']

In [8]:
mydata

[10, 20, 30, 40, 50]

In [9]:
mylabels

['L1', 'L2', 'L3', 'L4', 'L5']

In [10]:
# Creating a series using a list

In [11]:
myser = pd.Series(mydata)

In [12]:
myser

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
type(myser)

pandas.core.series.Series

In [14]:
# Creating a series with labeled index

In [15]:
myser = pd.Series(mydata, index= mylabels)

In [16]:
myser

L1    10
L2    20
L3    30
L4    40
L5    50
dtype: int64

# Create a series 
data = 1000, 750, 400, 1200, 2500<br>
labels = Mobilephone, headpohne, earphone, hometheatre, laptop

In [17]:
# Creating series using numpy arrays

In [18]:
myarr = np.array(mydata)

In [19]:
myarr

array([10, 20, 30, 40, 50])

In [20]:
pd.Series(myarr)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [21]:
myser = pd.Series(myarr, mylabels)

In [22]:
myser

L1    10
L2    20
L3    30
L4    40
L5    50
dtype: int32

In [23]:
mydata = [1000, 750, 400, 1200, 2500]

In [24]:
mylabels = ['Mobilephone', 'headphone','earphone', 'hometheatre', 'laptop']

In [25]:
myser = pd.Series(mydata,index = mylabels)

In [26]:
myser

Mobilephone    1000
headphone       750
earphone        400
hometheatre    1200
laptop         2500
dtype: int64

In [27]:
myser1 = pd.Series(myarr, mylabels)

In [28]:
myser1

Mobilephone    10
headphone      20
earphone       30
hometheatre    40
laptop         50
dtype: int32

In [29]:
myser1['L2']

KeyError: 'L2'

In [ ]:
myser1[['L1','L4']]

In [ ]:
# headphone, earphone & laptop

In [ ]:
mydata

In [ ]:
mylabels

In [ ]:
myarr = np.array(mydata)

In [ ]:
myarr

In [ ]:
myser = pd.Series(myarr)

In [ ]:
myser = pd.Series(myarr, index=mylabels)

In [ ]:
myser

In [ ]:
myser[['L1','L3']]

In [ ]:
# headphone, earphone & laptop

In [ ]:
myser

In [ ]:
myser[['Mobilephone','headphone']]

In [ ]:
myser>600

In [ ]:
mynewser = myser[myser>600]

In [ ]:
mynewser

In [ ]:
price_dict = {
    'laptop' : 2500,
    'mobile': 1000,
    'headphone' : 750
}

In [ ]:
price_dict

In [ ]:
type(price_dict)

In [ ]:
myser_dict = pd.Series(price_dict)

In [ ]:
myser_dict

In [ ]:
# DataFrames

In [ ]:
mydata = [[10,20,30],[40,50,60],[70,80,90]]

In [ ]:
myrows = ['row1','row2','row3']

In [ ]:
mycols = ['col1','col2','col3']

In [ ]:
mydata_arr = np.array(mydata)

In [ ]:
mydata_arr

In [ ]:
df = pd.DataFrame(mydata_arr, index=myrows,columns=mycols)

In [ ]:
df

In [ ]:
pwd

In [ ]:
cardf = pd.read_csv('cars.csv',index_col=0)

In [ ]:
cardf

In [ ]:
df

In [ ]:
df[['col1','col3']]

In [ ]:
df['new_col1'] = [100,200,300]

In [ ]:
df

In [ ]:
df['new_col2'] =df['col1']*2

In [ ]:
df

In [ ]:
# create new col = new_col3 , sum of col1 & col2

In [ ]:
# loc or iloc

In [ ]:
df

In [ ]:
df.loc['row2']

In [ ]:
df.iloc[1]

In [ ]:
df.loc[['row1','row3']]

In [ ]:
df.iloc[[0,2]]

In [ ]:
cardf

In [ ]:
#  Select few columns - milage, hp, cyl
# Fiat 128, Honda Civic, Porsche 914-2
cardf.loc[['Fiat 128','Honda Civic', 'Porsche 914-2']][['mpg','cyl','hp']]

In [ ]:
cardf.head()

In [ ]:
cardf.tail()

In [ ]:
cardf.tail(3)

In [ ]:
cardf.head(2)

In [ ]:
cardf.shape

In [ ]:
cardf.columns

In [ ]:
cardf.info()

In [ ]:
cardf.describe()

In [ ]:
cardf.head(3)[['mpg','hp']]

In [ ]:
cardf.columns[1:4]

In [ ]:
cardf[cardf.columns[1:4]]

In [ ]:
cardf.iloc[0:10]

In [ ]:
# Condional selects

In [ ]:
# Look for all values greater than zero

In [ ]:
cardf>0

In [ ]:
cardf[cardf>0]

In [ ]:
cardf['mpg']>15

In [ ]:
cardf[cardf['mpg']>15]

In [ ]:
cardf[cardf['am']==0]

In [ ]:
#mpg >15, am = 0

(cardf['mpg']>15) & (cardf['am']==0)

In [ ]:
# Inside the square bracket where the condition is true I get tha value

cardf[(cardf['mpg']>15) & (cardf['am']==0)]

In [ ]:
cardf[(cardf['mpg']>15) | (cardf['am']==0)]

In [ ]:
cardf.reset_index()

In [ ]:
cardf.reset_index()[['index','mpg']]

In [ ]:
# newdataframe - 5 rows, all columns, add new column - a,b,c,d,e

In [ ]:
cardf_new = cardf.head()

In [ ]:
cardf_new['newcol']=['a','b','c','d','e']

In [ ]:
cardf_new

In [ ]:
cardf_new.loc[:,'mynewcol']=['ab','cd','ef','gh','ij']

In [ ]:
cardf_new

In [ ]:
cardf_new.drop('mynewcol',axis = 1)

In [ ]:
cardf_new

In [ ]:
cardf_new.drop('mynewcol',axis = 1,inplace=True)

In [ ]:
cardf_new

In [ ]:
cardf_new.shape[0]

In [ ]:
cardf_new.shape[1]

In [ ]:
cardf_new.set_index('newcol')

In [ ]:
cardf_new

In [ ]:
# MultiIndex & Index Hierarchy

In [ ]:
myindex = [('ClassA',2000),('ClassA',2020),
          ('ClassB',2000),('ClassB',2020),
          ('ClassC',2000),('ClassC',2020)]

In [ ]:
myindex

In [ ]:
# students to the class
students = [10,30,15,5,20,50]

In [ ]:
no_class = pd.Series(students,index = myindex)

In [ ]:
no_class

In [ ]:
index = pd.MultiIndex.from_tuples(myindex)

In [ ]:
index

In [ ]:
newclass = pd.Series(students, index = index)

In [ ]:
newclass

# GroupBy 
GroupBy - Function is used to split the data into gropups based on some criteria & apply some aggregate function - mean or sum or count etc

In [ ]:
pwd

In [51]:
df = pd.read_csv('D:\\Users\\nitin\\datasets\Tele-Cust-Churn.csv',index_col = 0)

In [52]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [33]:
df.head(4)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [53]:
df = df[['Contract','gender', 'SeniorCitizen', 'tenure', 'InternetService','StreamingMovies', 'PaymentMethod','MonthlyCharges', 'Churn']]

In [54]:
df.head()

,Contract,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,,
7590-VHVEG,Month-to-month,Female,0,1,DSL,No,Electronic check,29.85,No
5575-GNVDE,One year,Male,0,34,DSL,No,Mailed check,56.95,No
3668-QPYBK,Month-to-month,Male,0,2,DSL,No,Mailed check,53.85,Yes
7795-CFOCW,One year,Male,0,45,DSL,No,Bank transfer (automatic),42.30,No
9237-HQITU,Month-to-month,Female,0,2,Fiber optic,No,Electronic check,70.70,Yes

In [37]:
np.where(df.Churn.values=='Yes',1,0)

array([0, 0, 1, ..., 0, 1, 0])

In [56]:
df.Churn = np.where(df.Churn.values=='Yes',1,0)

D:\Users\nitin\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [39]:
df.head()

,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,
7590-VHVEG,Female,0,1,DSL,No,Electronic check,29.85,0
5575-GNVDE,Male,0,34,DSL,No,Mailed check,56.95,0
3668-QPYBK,Male,0,2,DSL,No,Mailed check,53.85,1
7795-CFOCW,Male,0,45,DSL,No,Bank transfer (automatic),42.30,0
9237-HQITU,Female,0,2,Fiber optic,No,Electronic check,70.70,1

In [40]:
df

,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,
7590-VHVEG,Female,0,1,DSL,No,Electronic check,29.85,0
5575-GNVDE,Male,0,34,DSL,No,Mailed check,56.95,0
3668-QPYBK,Male,0,2,DSL,No,Mailed check,53.85,1
7795-CFOCW,Male,0,45,DSL,No,Bank transfer (automatic),42.30,0
9237-HQITU,Female,0,2,Fiber optic,No,Electronic check,70.70,1
...,...,...,...,...,...,...,...,...
6840-RESVB,Male,0,24,DSL,Yes,Mailed check,84.80,0
2234-XADUH,Female,0,72,Fiber optic,Yes,Credit card (automatic),103.20,0
4801-JZAZL,Female,0,11,DSL,No,Electronic check,29.60,0
8361-LTMKD,Male,1,4,Fiber optic,No,Mailed check,74.40,1
3186-AJIEK,Male,0,66,Fiber optic,Yes,Bank transfer (automatic),105.65,0

# Group By
GroupBy - Function is used to split the data into groups based on some criteria &
apply some aggregate function on them. Pandas objects can be split on any of their axes.

In [41]:
df.groupby('gender').mean()

        SeniorCitizen     tenure  MonthlyCharges     Churn
gender
Female       0.162844  32.244553       65.204243  0.269209
Male         0.161463  32.495359       64.327482  0.261603

In [42]:
df.groupby('InternetService').mean()

                 SeniorCitizen     tenure  MonthlyCharges     Churn
InternetService
DSL                   0.106981  32.821561       58.102169  0.189591
Fiber optic           0.268411  32.917959       91.500129  0.418928
No                    0.034076  30.547182       21.079194  0.074050

In [44]:
df[['gender','Churn']].groupby('gender').mean()

           Churn
gender
Female  0.269209
Male    0.261603

In [47]:
df.groupby(['gender','Churn']).mean()

              SeniorCitizen     tenure  MonthlyCharges
gender Churn
Female 0           0.128678  37.858768       61.664908
       1           0.255591  17.004260       74.812087
Male   0           0.128762  37.289524       60.876914
       1           0.253763  18.963441       74.066989

In [48]:
# 1 - not with the operator - no using services
# 0 - with the opertor - still using the services

In [55]:
df.head()

,Contract,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,,
7590-VHVEG,Month-to-month,Female,0,1,DSL,No,Electronic check,29.85,No
5575-GNVDE,One year,Male,0,34,DSL,No,Mailed check,56.95,No
3668-QPYBK,Month-to-month,Male,0,2,DSL,No,Mailed check,53.85,Yes
7795-CFOCW,One year,Male,0,45,DSL,No,Bank transfer (automatic),42.30,No
9237-HQITU,Month-to-month,Female,0,2,Fiber optic,No,Electronic check,70.70,Yes

In [58]:
df.groupby(['Contract','SeniorCitizen','Churn']).mean()

                                       tenure  MonthlyCharges
Contract       SeniorCitizen Churn
Month-to-month 0             0      19.444984       58.199407
                             1      12.467875       70.622611
               1             0      29.079235       77.992760
                             1      18.281179       79.617347
One year       0             0      40.299302       59.873386
                             1      43.233577       82.812044
               1             0      51.459627       81.262422
                             1      53.137931       95.627586
Two year       0             0      55.796419       58.178979
                             1      60.285714       86.432143
               1             0      65.352518       79.903957
                             1      68.166667       89.191667

In [61]:
df[['Contract','SeniorCitizen','Churn']].groupby(['Contract','SeniorCitizen']).mean()

                                 Churn
Contract       SeniorCitizen
Month-to-month 0              0.395698
               1              0.546468
One year       0              0.106781
               1              0.152632
Two year       0              0.027097
               1              0.041379

In [63]:
df[['Contract','Churn']].groupby(['Contract']).mean()

                   Churn
Contract
Month-to-month  0.427097
One year        0.112695
Two year        0.028319

In [66]:
df[['Contract','gender','SeniorCitizen','Churn',]].groupby(['SeniorCitizen','Contract','gender']).mean()

                                        Churn
SeniorCitizen Contract       gender
0             Month-to-month Female  0.406946
                             Male    0.384565
              One year       Female  0.095624
                             Male    0.117117
              Two year       Female  0.024453
                             Male    0.029754
1             Month-to-month Female  0.553885
                             Male    0.539216
              One year       Female  0.158416
                             Male    0.146067
              Two year       Female  0.044118
                             Male    0.038961

In [67]:
df.head()

,Contract,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,,
7590-VHVEG,Month-to-month,Female,0,1,DSL,No,Electronic check,29.85,0
5575-GNVDE,One year,Male,0,34,DSL,No,Mailed check,56.95,0
3668-QPYBK,Month-to-month,Male,0,2,DSL,No,Mailed check,53.85,1
7795-CFOCW,One year,Male,0,45,DSL,No,Bank transfer (automatic),42.30,0
9237-HQITU,Month-to-month,Female,0,2,Fiber optic,No,Electronic check,70.70,1

In [68]:
df.groupby('gender').count()

,Contract,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
gender,,,,,,,,
Female,3488,3488,3488,3488,3488,3488,3488,3488
Male,3555,3555,3555,3555,3555,3555,3555,3555

In [69]:
df.groupby(['InternetService','Contract']).count()

                                gender  SeniorCitizen  tenure  \
InternetService Contract
DSL             Month-to-month    1223           1223    1223
                One year           570            570     570
                Two year           628            628     628
Fiber optic     Month-to-month    2128           2128    2128
                One year           539            539     539
                Two year           429            429     429
No              Month-to-month     524            524     524
                One year           364            364     364
                Two year           638            638     638

                                StreamingMovies  PaymentMethod  \
InternetService Contract
DSL             Month-to-month             1223           1223
                One year                    570            570
                Two year                    628            628
Fiber optic     Month-to-month             2128           2128
                One year                    539            539
                Two year                    429            429
No              Month-to-month              524            524
                One year                    364            364
                Two year                    638            638

                                MonthlyCharges  Churn
InternetService Contract
DSL             Month-to-month            1223   1223
                One year                   570    570
                Two year                   628    628
Fiber optic     Month-to-month            2128   2128
                One year                   539    539
                Two year                   429    429
No              Month-to-month             524    524
                One year                   364    364
                Two year                   638    638

In [71]:
df[['InternetService','tenure']].groupby('InternetService').agg(['count','mean'])

                tenure
                 count       mean
InternetService
DSL               2421  32.821561
Fiber optic       3096  32.917959
No                1526  30.547182

In [72]:
df.head()

,Contract,gender,SeniorCitizen,tenure,InternetService,StreamingMovies,PaymentMethod,MonthlyCharges,Churn
customerID,,,,,,,,,
7590-VHVEG,Month-to-month,Female,0,1,DSL,No,Electronic check,29.85,0
5575-GNVDE,One year,Male,0,34,DSL,No,Mailed check,56.95,0
3668-QPYBK,Month-to-month,Male,0,2,DSL,No,Mailed check,53.85,1
7795-CFOCW,One year,Male,0,45,DSL,No,Bank transfer (automatic),42.30,0
9237-HQITU,Month-to-month,Female,0,2,Fiber optic,No,Electronic check,70.70,1